.nolinkstyling {
  list-style: none;
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ---------- Header ---------- */
.titlebox {
  position: relative;
  margin-top: 1px;
  height: 2.68em;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid; }
  .titlebox .kiwiBeatsTitle {
    position: absolute;
    font-size: 4.4em;
    top: -0.15em;
    left: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300; }
  .titlebox .hrtag {
    margin: 0.6566em 0 0 0;
    width: 100%; }

/* ---------- Footer ---------- */
/* ---------- Home Page ---------- */
section {
  display: none; }

/* ---------- Lessons ---------- */
/* ---------- About Us ---------- */
/* ---------- Contact Us ---------- */
