.nolinkstyling {
  color: black;
  list-style: none;
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

body {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

/* ---------- Header ---------- */
header {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }
  header .titlebox {
    position: relative;
    height: 2.67999em;
    margin-top: 0.6432em;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid; }
    header .titlebox .kiwiBeatsTitleCase .kiwiBeatsTitle {
      position: absolute;
      font-size: 4.375em;
      top: -0.15999em;
      left: 0;
      margin: 0;
      font-family: 'Yantramanav', sans-serif;
      font-weight: 300;
      z-index: 40; }
    header .titlebox .kiwiBeatsTitleCase .kiwibeatsS {
      font-family: 'Yantramanav', sans-serif;
      font-weight: 300;
      font-size: 4.27875em;
      position: absolute;
      top: -0.14999em;
      left: 4.06em;
      z-index: 40; }
    header .titlebox .hrtag {
      margin: 0.5896em 0 0 0;
      width: 100%; }
  header .topNav ul {
    margin-top: 0.5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 40em;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header .topNav ul li {
      font-family: 'Yantramanav', sans-serif;
      font-weight: 400;
      -webkit-flex: 1 1px;
      -ms-flex: 1 1px;
      flex: 1 1px;
      text-align: center;
      z-index: 50; }
    header .topNav ul li:nth-child(odd) {
      border-left: 1px #ccc solid;
      border-right: 1px #ccc solid; }

/* ---------- Footer ---------- */
footer {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #E6E5E3;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-family: 'Josefin Slab', serif;
  padding-top: 1.35em;
  padding-bottom: 0.5em;
  margin-top: 2em; }
  footer .contactDetails {
    font-size: 0.8em;
    margin-left: 0.5em; }
  footer .footerfb {
    display: inline;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-family: 'Josefin Slab', serif; }
  footer .footercopyright {
    border-bottom: 1px #ccc solid;
    text-align: center; }

/* ---------- Home Page ---------- */
.mainTextHeader {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Yantramanav', sans-serif; }

main {
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%; }
  main .homePageImage {
    display: none; }
  main section {
    margin-top: 2em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    main section .mainText {
      max-width: 24em;
      margin-left: auto;
      margin-right: auto;
      padding: 0.75em;
      font-size: 1em; }

/* ---------- Read More Slider ---------- */
.read-more-wrap {
  font-family: 'Lato', sans-serif; }

.read-more-state {
  display: none; }

.read-more-target {
  display: none; }

.read-more-state:checked ~ .read-more-wrap > .read-more-target {
  display: inline; }

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more'; }

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide'; }

.read-more-state ~ .read-more-trigger {
  margin-top: .5em; }

.read-more-state:checked ~ .read-more-trigger {
  margin-top: .5em; }

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em; }

@media only screen and (max-width: 46em) {
  main {
    margin-top: 6em !important; } }

@media (min-width: 48em) {
  .read-more-state ~ .read-more-trigger {
    margin-top: .5em; }
  .read-more-state:checked ~ .read-more-trigger {
    margin-top: .5em; }
  .read-more-target {
    display: inline;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease; }
  .read-more-state:checked ~ .read-more-wrap > .read-more-target {
    display: inline;
    opacity: 1;
    font-size: inherit;
    max-height: 10em; }
  main section .mainText {
    font-size: 1.1em; }
  footer .contactDetails {
    font-size: 1em; }
  .kiwiBeatsTitleCase .kiwiBeatsTitle {
    font-size: 4.375em;
    top: -0.15999em;
    left: 2.25em !important; }
  .kiwiBeatsTitleCase .kiwibeatsS {
    font-size: 4.2em;
    top: -0.14719em;
    left: 6.35em !important; } }

@media (min-width: 62em) {
  main section .homePageImage {
    display: block;
    margin-left: 2em;
    width: 100%;
    max-width: 46.875em;
    height: 30em;
    background-repeat: no-repeat;
    background-position: 30% 60%;
    transition: background 0.5s linear; }
  main section .mainText {
    margin-top: 6em;
    margin-left: 0; }
  header .titlebox {
    height: 3.34631em;
    margin-top: 0.80312em; }
    header .titlebox .kiwiBeatsTitleCase .kiwiBeatsTitle {
      font-size: 5.375em;
      top: -0.16125em;
      left: 2.5em !important; }
    header .titlebox .kiwiBeatsTitleCase .kiwibeatsS {
      font-size: 5.16em;
      top: -0.14835em;
      left: 6.7em !important; }
    header .titlebox .hrtag {
      margin: 0.73619em 0 0 0;
      width: 100%; }
  header .topNav ul {
    font-size: 1.2em; } }

@media (min-width: 75em) {
  main section {
    display: block; }
    main section .homePageImage {
      max-width: 100%;
      display: block;
      margin-left: 0; }
    main section .mainText {
      margin-top: 3em;
      width: 100%;
      max-width: 30em;
      clear: both;
      margin-left: 18em;
      margin-bottom: 2em;
      font-size: 1.2em; }
  header .titlebox {
    height: 4.59145em;
    margin-top: 1.10195em; }
    header .titlebox .kiwiBeatsTitleCase .kiwiBeatsTitle {
      font-size: 7.375em;
      top: -0.15488em;
      left: 1em !important; }
    header .titlebox .kiwiBeatsTitleCase .kiwibeatsS {
      font-size: 7.11687em;
      top: -0.14249em;
      left: 5.125em !important; }
    header .titlebox .hrtag {
      margin: 1.01012em 0 0 0;
      width: 100%; }
  header .topNav ul {
    font-size: 1.2em; }
  footer .contactDetails {
    margin-left: 8em;
    font-size: 1.4em; }
  footer .footercopyright {
    font-size: 1.54em; } }

/* ---------- Lessons ---------- */
.lesson-box {
  margin-left: auto !important; }
  .lesson-box .lessonBulletPoints {
    font-weight: 700; }

/* ---------- About Us ---------- */
.about-box {
  margin-left: auto !important; }

@media (max-width: 32em) {
  .about-box {
    font-size: .9em !important; }
  .lesson-box {
    font-size: .9em !important; } }

/* ---------- Contact Us ---------- */
.contact-box {
  margin-left: auto !important;
  border: 1px black solid;
  width: 85%; }
  .contact-box .contactPhotoDiv {
    max-height: 18em;
    float: left; }
    .contact-box .contactPhotoDiv .contactPhoto {
      display: none;
      height: 8em;
      width: 8em;
      float: left;
      padding-right: 0.8em; }
  .contact-box .read-more-wrap {
    font-size: 0.9em; }

@media (min-width: 48em) {
  .contactPhotoDiv .contactPhoto {
    display: block !important; } }

@media (min-width: 62em) {
  .contact-box {
    margin-top: 0 !important; }
  .about-box {
    margin-top: 0 !important; }
  .lesson-box {
    margin-top: 0 !important; } }

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media
{
  main {
    margin-top: 10em !important; }
  footer {
    -webkit-align-self:stretch !important;
    clear:both !important;
  -webkit-flex: 0 0 4rem;
  -ms-flex: 0 0 4rem;
  flex: 0 0 4rem;
     } }

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0){ @media (min-width:62em)
{
footer {
margin-top:35em !important;
}
}
   
@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0){ @media (min-width:75em)
{
footer {
margin-top:55em !important;
}
}