  $textsize:4.375em;
  $mainTextSize:1em;
  $footerTextSize:0.75em;
  $boxsize:$textsize*0.61257;
  $texttop:$textsize*0.03657;
  $hrmagin: $boxsize *0.22;
  .nolinkstyling {
  color: black;
  list-style: none;
  text-decoration: none;
  }
  hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  }
  .clearfix:before,
  .clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */
  }
  .clearfix:after {
  clear: both;
  }
  body {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  justify-content: flex-end;
  }
  /* ---------- Header ---------- */

  header {
  flex: 0 0 100%;
  .titlebox {
      position: relative;
      height: $boxsize;
      margin-top: $boxsize*0.24;
      border-top: 1px #ccc solid;
      border-bottom: 1px #ccc solid;
      .kiwiBeatsTitle {
          position: absolute;
          font-size: $textsize;
          top: -$texttop;
          left: 0;
          margin: 0;
          font-family: 'Yantramanav', sans-serif;
          font-weight: 300;
          z-index: 40;
      }
      .kiwibeatsS {
          font-family: 'Yantramanav', sans-serif;
          font-weight: 300;
          font-size: $textsize*0.978;
          position: absolute;
          top: -$texttop*0.9375;
          left: $textsize*0.928;
          z-index: 40;
      }
      .hrtag {
          margin: $hrmagin 0 0 0;
          width: 100%;
      }
  }
  .topNav {
      ul {
          margin-top: 0.5em;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 40em;
          justify-content: center;
          li {
              font-family: 'Yantramanav', sans-serif;
              font-weight: 400;
              flex: 1 1px;
              text-align: center;
              z-index: 50;
          }
          li:nth-child(odd) {
              border-left: 1px #ccc solid;
              border-right: 1px #ccc solid;
          }
      }
  }
  }
  /* ---------- Footer ---------- */

  footer {
  flex: 0 0 100%;
  align-self: flex-end;
  background-color: #E6E5E3;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 1.35em;
  padding-bottom: 0.5em;
  margin-top: 2em;
  .contactDetails {
      font-size: $footerTextSize;
      margin-left: 0.5em;
  }
  .footerfb {
      display: inline;
  }
  .footercopyright {
      border-bottom: 1px #ccc solid;
      text-align: center;
  }
  }
  /* ---------- Home Page ---------- */
.mainTextHeader{
text-align:center;
  font-size:2.5em;
  font-family: 'Yantramanav', sans-serif;
}
  main {
  flex: 1 0 100%;
  .homePageImage {
      display: none;
  }
  section {
      margin-top: 2em;
      display: flex;
      .mainText {
          max-width: 24em;
          margin-left: auto;
          margin-right: auto;
          padding: 0.75em;
          font-size: $mainTextSize;
      }
  }
  }
  /* ---------- Read More Slider ---------- */

  .read-more-wrap {
  font-family: 'Lato', sans-serif;
  }
  .read-more-state {
  display: none;
  }
  .read-more-target {
  display: none;
  }
  .read-more-state:checked ~ .read-more-wrap > .read-more-target {
  display: inline;
  }
  .read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
  }
  .read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide';
  }
  .read-more-state ~ .read-more-trigger {
  margin-top: .5em;
  }
  .read-more-state:checked ~ .read-more-trigger {
  margin-top: .5em;
  }
  .read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  }
  @media only screen and (max-width: 32em) {
  main{
    margin-top:6em !important;
  }
    footer {
    height:33.85em !important;
    }
  }
  @media (min-width: 48em) {
  //768px
  $mainTextSize:1.1em;
  $footerTextSize:1em;
  .read-more-state ~ .read-more-trigger {
      margin-top: .5em;
  }
  .read-more-state:checked ~ .read-more-trigger {
      margin-top: .5em;
  }
  .read-more-target {
      display: inline;
      opacity: 0;
      max-height: 0;
      font-size: 0;
      transition: .25s ease;
  }
  .read-more-state:checked ~ .read-more-wrap > .read-more-target {
      display: inline;
      opacity: 1;
      font-size: inherit;
      max-height: 10em;
  }
  main section {
      .mainText {
          font-size: $mainTextSize;
      }
  }
  footer {
      .contactDetails {
          font-size: $footerTextSize;
      }
  }
  }
  @media (min-width: 62em) {
  //992px
  main section {
      .homePageImage {
          display: block;
          margin-left: 2em;
          width: 100%;
          max-width: 46.875em;
          height: 30em;
          background-repeat: no-repeat;
          background-position: 30% 60%;
          transition: background 0.5s linear;
      }
      .mainText {
          margin-top: 6em;
          margin-left: 0;
      }
  }
  header {
      $textsize: 5.375em;
      $boxsize: $textsize*0.62257;
      $texttop: $textsize*0.030;
      $hrmagin: $boxsize *0.22;
      .titlebox {
          height: $boxsize;
          margin-top: $boxsize*0.24;
          .kiwiBeatsTitle {
              font-size: $textsize;
              top: -$texttop;
          }
          .kiwibeatsS {
              font-size: $textsize*0.96;
              top: -$texttop*0.92;
              left: $textsize*0.8;
          }
          .hrtag {
              margin: $hrmagin 0 0 0;
              width: 100%;
          }
      }
      .topNav {
          ul {
              font-size: 1.2em;
          }
      }
  }
  }
  @media (min-width: 75em) {
  //992px
  $mainTextSize:1.2em;
  main section {
      display: block;
      .homePageImage {
          max-width: 100%;
          display: block;
          margin-left: 0;
      }
      .mainText {
          margin-top: 3em;
          width: 100%;
          max-width: 30em;
          clear: both;
          margin-left: 10em;
          margin-bottom: 2em;
          font-size: $mainTextSize;
      }
  }
  header {
      $textsize: 7.375em;
      $boxsize: $textsize*0.62257;
      $texttop: $textsize*0.021;
      $hrmagin: $boxsize *0.22;
      .titlebox {
          height: $boxsize;
          margin-top: $boxsize*0.24;
          .kiwiBeatsTitle {
              font-size: $textsize;
              top: -$texttop;
          }
          .kiwibeatsS {
              font-size: $textsize*0.965;
              top: -$texttop*0.92;
              left: $textsize*0.56;
          }
          .hrtag {
              margin: $hrmagin 0 0 0;
              width: 100%;
          }
      }
      .topNav {
          ul {
              font-size: 1.2em;
          }
      }
  }
  $footerTextSize:1.1em;
  footer {
      .contactDetails {
          margin-left: 5em;
          font-size: $footerTextSize;
      }
      .footercopyright {
          font-size: $footerTextSize*1.2;
      }
  }
  }
  /* ---------- Lessons ---------- */

  .lesson-box {
  margin-left: auto !important;
  .lessonBulletPoints {
      font-weight: 700;
  }
  }
  /* ---------- About Us ---------- */

  .about-box {
  margin-left: auto !important;
  }
  @media (max-width: 32em) {
  //544px
  .about-box {
      font-size: .9em !important;
  }
  .lesson-box {
      font-size: .9em !important;
  }
  }
  /* ---------- Contact Us ---------- */

  .contact-box {
  margin-left: auto !important;
  border: 1px black solid;
  width: 85%;
  .contactPhotoDiv {
      max-height: 18em;
      float: left;
      .contactPhoto {
          display: none;
          height: 8em;
          width: 8em;
          float: left;
          padding-right: 0.8em;
      }
  }
  .read-more-wrap {
      font-size: 0.9em;
  }
  }
  @media (min-width: 48em) {
  .contactPhotoDiv {
      .contactPhoto {
          display: block !important;
      }
  }
  }


    @media (min-width: 62em) {
.contact-box {
margin-top:0 !important;
}

.about-box {
margin-top:0 !important;
}


    .lesson-box {
margin-top:0 !important;
    }
    }