$boxsize : 2.68em;
$textsize:4.4em;
$texttop:0.15em;
$hrmagin: $boxsize *0.245;
.nolinkstyling {
  list-style: none;
  text-decoration: none; }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  .clearfix:before,
  .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .clearfix:after {
    clear: both;
  }

  /* ---------- Header ---------- */
  .titlebox{
    position:relative;
margin-top:1px;
height:$boxsize;
    border-top:1px #ccc solid;
    border-bottom:1px #ccc solid;
    .kiwiBeatsTitle{
      position: absolute;
      font-size:$textsize;
      top:-$texttop;
      left:0;
      margin:0;
      font-family: 'Roboto Slab', serif; font-weight: 300; 
    }
    .hrtag{
      margin:$hrmagin 0 0 0;
      width:100%;
    }
  }




  /* ---------- Footer ---------- */


  /* ---------- Home Page ---------- */
  section{
    display:none;
  }

  /* ---------- Lessons ---------- */




  /* ---------- About Us ---------- */



  /* ---------- Contact Us ---------- */
